.chat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 57px;
    height: 100%;
}

.chat-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    max-width: 600px;
}