.chat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 57px;
    height: 100%;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    max-width: 600px;
}

.message-box-container {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 0;
    overflow: auto;
}