* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

#root {
  --font-family-default: 'Inter', sans-serif;
  --font-family-variable: 'InterVariable', sans-serif;

  --bg-color: #000000;
  --chat-bg-color: #0e0e0e;
}

.app {
    height: 100%;
    background-color: var(--bg-color);
    
    font-family: var(--font-family-default);
    font-feature-settings: 'liga' 1, 'calt' 1; /* Chrome ligature fix */
    font-size: 14px; /* default */
}

@supports (font-variation-settings: normal) {
  .app {
    font-family: var(--font-family-variable);
    font-variation-settings: 'wght' 400; /* Regular weight */
  }
}