* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

#root {
    --bg-color: #000000;
    --chat-bg-color: #0e0e0e;
}

.app {
    height: 100%;
    background-color: var(--bg-color);
}